body{
    background: black;
}
.hr-top, .hr-bottom{
    border-top: .05rem solid #1ebba3;
    width: 1050px;
}

.pText{
    color:lightgray;
    text-align: center;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 20px;

}



/****************************** NavBar Component *********************/
.navbar{
 background: black;
}
.logo{
    width: 180px;
    height: 180px;
}


.social-cont{
    color: white;
    font-size: 20px;

}
.facebook, .instagram, .twitter{
    margin-left:10px;
}
.facebook:hover, .instagram:hover, .twitter:hover, .btn-text:hover, .nav-link:hover{
color:#1ebba3;
}

.input, .search-btn{
    height: 30px;
}
.btn-text{
    font-size: 10px;
}

.nav-link{
    color: white;
}
.whole{

    margin-bottom: 100px;

}
/****************************** Card Component *********************/
.card-planets, .card-characters{
    background: black;
}
.title{
    color:white;
}



/****************************** Footer Component *********************/
.page-footer{

    height: 100px;
    margin-top:300px;
}
.footer-cr {
    color:white;

}

/****************************** Details View *********************/


.cont2{
    margin-top: 40px;
}

.name{
     font-size: 40px;
    color: white;
}

.description{
 color: white;
 width: 250px;

    font-weight: 200;
    vertical-align: sub;
    white-space: pre-wrap;

}

.txt1, .txt2, .txt3{
    border-right: 3px solid lightgray;
}

.txt1, .txt2, .txt3, .txt4{
 color: white;
}

.title-attribute{
 color: purple;
}

